table.game-board {
  margin: auto;

  tr td {
    border: 1px solid black;
    width: 80px;
    height: 80px;
    font-size: 80px;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  div {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    align: center;
  }

  .a {
    background: red;
  }

  .b {
    background: blue;
  }
}

div {
  margin: 1px;
  padding: 1px;
  border: 1px solid black;
}
