div.play-area {
  width: 100%;
  height: 500px;

  div {
    border: none;
  }

  div.tray {
    height: 480px;
    width: 240px;
    margin: 10px;
    float: left;
    border: 1px solid black;
  }

  .token {
    border: 1px solid black;
    width: 76px;
    height: 76px;
    text-align: center;
    vertical-align: middle;
    line-height: 76px;
  }

  .rotate-1 {
    transform: rotate(90deg);
  }

  .rotate-2 {
    transform: rotate(180deg);
  }

  .rotate-3 {
    transform: rotate(270deg);
  }

  .token-a {
    background: red;
  }

  .token-b {
    background: green;
  }

  .token-mountain {
    background: black;
  }

  .token-lake {
    background: blue;
  }

  .token-building {
    background: gray;
  }

  div.game-board {
    width: 480px;
    height: 480px;
    margin: 10px;
    float: left;
    // border: 1px solid red;

    .tile {
      float: left;
      width: 78px;
      height: 78px;
      border: 1px solid black;
    }
  }
}

div {
  border: 1px solid black;
}
