@import 'skill-svg';

div.play-area {
  width: 100%;
  height: 720px;

  .token-bg-1 {
    fill: #ff2d2d;
  }

  .token-bg-2 {
    fill: #08e069;
  }

  div {
    border: none;
  }

  .card {
    margin: 1px;
    height: 22px;
    width: 74px;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
  }

  .card-revealed {
    background-color: white;
    color: black;
  }

  .card-flipped {
    background-color: black;
    color: white;
  }

  .token {
    border: none;
    width: 78px;
    height: 78px;
    text-align: center;
    vertical-align: middle;
    line-height: 78px;
    float: left;
  }

  .rotate-1 {
    transform: rotate(90deg);
  }

  .rotate-2 {
    transform: rotate(180deg);
  }

  .rotate-3 {
    transform: rotate(270deg);
  }

  .token-mountain {
    background: #996633;
  }

  .token-lake {
    background: #00ccff;
  }

  .token-building {
    background: #e0e0eb;
  }

  div.top-bottom-box {
    width: 100%;
    height: 104px;

    div.player-name-box {
      float: left;
      margin: 10px;
      width: 55px;
      height: 84px;
      text-align: center;
      font-weight: bold;
    }

    div.team-box {
      width: 480px;
      height: 82px;
      margin: 10px;
      border: 1px solid black;
      float: left;

      .unit-stat-card {
        width: 158px;
        height: 80px;
        border: 1px solid black;
        float: left;

        div.card {
          float: right;
          margin: 10px;
          margin-top: 25px;
        }

        div.left-part {
          width: 60px;
          float: left;

          div.unit-img {
            width: 60px;
            height: 60px;
            background: black;

            svg {
              width: 100%;
              height: 100%;
            }
          }

          div.hp-bar {
            button {
              width: 20px;
              height: 20px;
              float: left;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              font-weight: bold;
            }

            div.hp-value {
              width: 20px;
              height: 20px;
              float: left;
              text-align: center;
              font-weight: bold;
            }
          }
        }
      }
    }

    div.discard {
      width: 80px;
      height: 84px;
      margin: 10px;
      margin-left: 0px;
      float: left;
    }
  }

  div.center-box {
    width: 100%;
    height: 482px;

    div.tray {
      height: 477px;
      width: 53px;
      margin-left: 10px;
      margin-right: 10px;
      float: left;
      border: 1px solid black;
      .token {
        border: solid black 1px;
        width: 51px;
        height: 51px;
      }
    }

    div.game-board {
      width: 480px;
      height: 480px;
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid black;
      float: left;
      // border: 1px solid red;

      .tile {
        float: left;
        width: 78px;
        height: 78px;
        border: 1px solid black;
      }
    }

    div.center-right {
      float: left;
      height: 480px;
      width: 482px;
      margin: 0px;

      .chat {
        border: 2px solid black;
        width: 474px;
        height: 108px;
        margin: 0px;
      }

      .unit-skill-card {
        height: 358px;
        width: 480px;
        border: 1px solid black;
        margin: 0px;

        .skill-card-header {
          border: 1px solid black;
          width: 478px;
          height: 50px;
          float: left;

          .svg-icon {
            height: 50px;
            float: left;
          }

          .unit-name {
            height: 50px;
            font-size: 30px;
            font-weight: bold;
            float: left;
            padding: 10px;
          }
        }

        .skill {
          border: 1px solid black;
          width: 158px;
          height: 306px;
          float: left;

          .skill-name {
            width: 158px;
            height: 22px;
            text-align: center;

            font-size: 20px;
            font-weight: bold;
          }

          .skill-description {
            padding: 3px;
            width: 152px;
            height: 168px;
          }

          .attack-visualisation {
            width: 158px;
            height: 110px;
          }
        }
      }
    }
  }

  div.hand {
    width: 700px;
    height: 30px;
    margin-left: 80px;

    .card {
      float: left;
    }
  }
}

div {
  border: 1px solid black;
  user-select: none;
}
